@define-color bg_color rgba(26, 26, 25, 0.99);
@define-color fg_color rgba(209, 209, 209, 1);
@define-color button_bg_color rgba(59, 53, 54, 0.99);
@define-color button_fg_color rgba(217, 216, 216, 1);
@define-color button_bg_color_hover rgba(99, 88, 82, 0.99);
@define-color button_fg_color_hover rgba(33, 33, 33, 0.99);

* {
  border: none;
  border-radius: 0px;
  font-family: RobotoMonoNerdFont, monospace;
  font-size: 13px;
  font-weight: 600;
  box-shadow: none;
  text-shadow: none;
}

window {
  color: @fg_color;
  background-color: transparent;
}

window#waybar {
  color: @fg_color;
}

#workspaces {
  background-color: transparent;
  background-color: @bg_color;
  margin: 5px;
}

#workspaces button {
  padding: 0 5px;
  color: @button_fg_color;
  background-color: @button_bg_color;
}

#workspaces button:hover {
  color: @button_fg_color_hover;
  background-color: @button_bg_color_hover;
}

#workspaces button:first-child {
  border-radius: 5px 0px 0px 5px;
}

#workspaces button:last-child {
  border-radius: 0px 5px 5px 0px;
}

#workspaces button.visible {
  color: @button_fg_color;
  background-color: @button_bg_color_hover;
}

#workspaces button.urgent {
  animation: pulse 1s infinite;
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#backlight,
#tray,
#language,
#custom-storage,
#custom-spotify,
#custom-weather {
  margin: 5px;
  min-width: 30px;
  background-color: @button_bg_color;
  color: @button_fg_color;
  padding: 0px 10px;
  border-radius: 5px;
}

#clock {
  margin: 5px 0px;
  background-color: @button_bg_color;
  color: @button_fg_color;
  min-width: 140px;
  border-radius: 5px;
}

@keyframes pulse {
  0% {
    background-color: rgba(99, 88, 82, 0.99);
  }
  50% {
    background-color: rgba(238, 46, 36, 0.99);
  }
  100% {
    background-color: rgba(99, 88, 82, 0.99);
  }
}
